.menu-items {
position: relative;
align-items: center;
display: none;
}

.menu-items {
display:flex;
min-height: 10%;
}

.my_button {
    font-family: 'Inter';
    font-weight: 350;
    padding: 0px;
    color: white;
    cursor: pointer;
    min-height: 10%;
}

.my_button:hover {
    color:aqua;
}




