.menu-items {
position: absolute;
align-items: center;
display: none;
}

.expanding-menu:hover .menu-items {
display: block;
}

.my_button {
    font-family: 'Inter';
    font-weight: 350;
    padding: 0px;
    color: white
}

.my_button:hover {
    color:aqua;
}




